/*Termos gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  span{
    color: #bf5947;
  }
  
  main{
    font-size: 20px;
  }
  
  button{
    color: #bf5947;
    background: transparent;
    border: 2px solid #bf5947;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    height: 50px;
  }
  
  button:hover{
    background: #bf5947;
    transition: 0.5s;
    color: #fff;
    opacity: 70%;
  }
  
  /*Cabeçalho*/
    header{
      display:flex;
      flex-direction: row;

    }
    
    nav{
     position: fixed;
     display: flex;
     flex-direction: row;
     gap: 5rem;
     width: 100%;
     padding-top: 1rem;
     background-color: transparent;
     backdrop-filter: blur(10px);
     justify-content: center;
     align-items: center;
  }

  nav h1{
    font-size:35px;
  }

  nav a{
    color: #bf5947;
    font-size: 25px;
  }
  
  nav a:hover{
    text-decoration:underline solid #bf5947;
  }
  
  /*Página 1*/
  .pag1{
    background-color: #f8d7cd;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: 25px;
    height: 620px;
  }
  
  .pag1 button{
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
  }
  
  /*Página 2*/
  .pag2{
    display: flex;
    flex-direction: column;
    height: 930px;
    border: 1px solid black;

  }

  .pag2 div{
    margin: 40px;
    margin-top: 60px;
  }

  /*coisas para acrescentar depois:
  . Colocar a imagem de fundo "fundo1" na pagina 1 (excluir o desenho da manicure).
  . Colocar imagens condizentes com os topicos da apgina 2.
  . Pensar na possibilidade de uma terceira página.
  . Fazer terceira página caso encontre algo bom para colocar.
  . Fazer tela de cadastro e login.
  . Linkar a landing page com com tela de login.*/ 