@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{
  --branco:#fff;
  --preto:#000;
  --preto-tom2:#2a2a2a;
  --tom1:#d05f4b;
  --tom2:#d87b6b;
  --tom3:#e0978a;
  --tom4:#e8b2a9;
  --tom5:#ecc0b8;
  --tom6:#f1cec8;
  --tom7:#f5dcd7;
}


/* Termos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

span {
  color: #bf5947;
}

main {
  font-size: 20px;
}

button {
  color: #bf5947;
  background: transparent;
  border: 2px solid #bf5947;
  padding: 5px;
  border-radius: 18px;
  font-size: 18px;
  width: 150px;
  height: 40px;
}

button:hover {
  background: #bf5947;
  color: #fff;
  opacity: 70%;
  transition: 0.5s, color 0.5s;
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: row;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: smaller;
}

nav {
  position: fixed; 
  display: flex;
  flex-direction: row;
  gap: 8rem;
  width: 100%;
  height: 5rem; 
  background-color: var(--tom1);
  justify-content: center; 
  align-items: center; 
  z-index: 1;
  padding: 0;
}

nav a {
  color: var(--branco);
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

nav button{
  color: var(--branco);
  background: transparent;
  border: 2px solid var(--branco);
  padding: 5px;
  border-radius: 18px;
  font-size: 18px;
  width: 150px;
  height: 40px;
}

nav button:hover{
  color: var(--preto);
  background-color: var(--branco);
  border-color: var(--preto);
  opacity: 70%;
  transition: 0.5s, color 0.5s;
}

/* Página 1 */
.pag1 {
  height: 100vh; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0; 
  padding: 0;
  overflow: hidden; 
}

.anipag1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container-de-slides {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #f4f4f4;
  border-radius: 50px;
}
/*slide1*/
.slide1{
  font-size: 25px;
} 

/* Página 2 */
.pag2 {
  display: flex;
  flex-direction: column;
  margin: 40px;
}


.topico1, .topico2, .topico3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
  height: 310px;
  margin-bottom: 20px;
}

.texto1, .texto2, .texto3 {
  display: flex;
  flex-direction: column;
}

.imagem1 img, .imagem2 img, .imagem3 img {
  margin-top: 0;
  max-height: 100%;
  max-width: auto;
}

.pag2 h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #bc6d5d;
}

/*Página 3 */
.pag3 {
  background-color: var(--tom2);
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
}
.pf{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left; 
  padding-right: 150px; 
  padding-left: 100px;
  margin-bottom: 30px; 
  margin-top: 20px;
}

.perguntas {
  text-align: left; 
  padding-right: 150px; 
  padding-left: 500px;
  margin-bottom: 100px; 
  
}

.perguntas h1 {
  font-size: 24px;
  color: #36140e;
  margin-bottom: 20px;
}

.perguntas {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #36140e;
  font-size: small;
}

.perguntas hr {
  border: 0;
  height: 1px; 
  background-color: #36140e; 
  margin: 10px 0; 
}

.perguntas h3 {
  margin: 30px;
  padding: 10px 0;
  font-size: 18px;
}

/*Rodapé*/
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px; 
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

.footer-col {
  flex: 1; 
  min-width: 250px; 
  margin: 10px; 
}

.footer-col h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #36140e;
  text-align: center; 
}

.footer-col p, .footer-col ul {
  color: #36140e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  text-align: center; 
}

.footer-col ul {
  list-style-type: none; 
  padding: 0;
}

.footer-col ul li {
  margin: 10px 0;
}

.footer-col a {
  color: #36140e;
}

.footer-col a:hover {
  text-decoration: underline;
}

.logo-nome {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  flex: 1;
}

.img-logo img {
  border-radius: 50%; 
  width: 70px;
  height: 70px; 
  margin-right: 15px; 
  border: 1px solid #000000;
}

.nome-redes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nome-redes h3 {
  margin: 0;
  font-size: 24px;
}

.redes-sociais {
  margin-top: 10px;
}

.redes-sociais a {
  margin-right: 10px;
  color: #36140e;
  font-size: x-large;
}
