@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arrius+W00+Regular&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}

body {
    padding-top: 80px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-header {
    background-color: #d05f4b;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#app-header h1 {
    font-family: 'Arrius W00 Regular', sans-serif; 
    font-size: 50px; 
    color: #ffffff; 
    margin: 0; 
}

#temas {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: red; 
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 30%;
    margin-top: 50px;
}

#button-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.button-card {
    flex: 1;
    text-align: center;
    padding: 70px; /* Ajustado para um tamanho maior */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-decoration: none;
    color: #333;
    font-size: 20px; /* Aumentei o tamanho do texto */
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.button-card:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

/* para adiconar imagens de fundo nos botões */

.btn-agendamentos {
    background-image: url('imagens/agendamentos.jpg');
    background-size: cover;
    background-position: center;
}

.btn-referencias {
    background-image: url('imagens/referencias.jpg');
    background-size: cover;
    background-position: center;
}

.btn-agenda-do-dia {
    background-image: url('imagens/agenda_do_dia.jpg');
    background-size: cover;
    background-position: center;
}

.btn-proximos-agendamentos {
    background-image: url('imagens/proximos_agendamentos.jpg');
    background-size: cover;
    background-position: center;
}

.btn-editar-disponibilidade {
    background-image: url('imagens/editar_disponibilidade.jpg');
    background-size: cover;
    background-position: center;
}

.btn-nao-faco-ideia {
    background-image: url('imagens/nao_faco_ideia.jpg');
    background-size: cover;
    background-position: center;
}
